<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentAppKey</key>
	<string>z4T76FyzQDeHms0j4NY3gQ</string>
	<key>developmentAppSecret</key>
	<string>7fV85tbNQ6W97cncz42sUw</string>
	<key>productionAppKey</key>
	<string>fyDgYF2sStexfM40g16l8Q</string>
	<key>productionAppSecret</key>
	<string>O2btg9pLQh-OdFldeS_u7w</string>
</dict>
</plist>
